div {
	border-radius: 5px;
}

#header {
	width: 99%;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top:0;
	
	center: auto;
	
	background-color: red;
	
	text-align: center;
	
	
}

#header h1 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
}

#navbar {
	margin: 0.5em;
	padding: 1em;
	position: absolute;
	left: 0;
	top: 8em;
	
	background-color: blue;
}

#content {
	background-color: crimson;
	
	width: 87%;
	margin: 0.5em;
	padding: 1em;
	position: absolute;
	top: 8em;
	right: 0;
}

#navbar ul {
	list-style-type: none;
	display: inline-block;
	float: left;

}

/* #navbar ul li {
	padding-left: -50px;
}
*/



















